<% include ../partials/header %>
      <!-- main content div -->
          <!--1) landing area -->
          <div id="landing-area" class="d-flex flex-column vh-100 w-50">
            <div class="container m-auto">
              <h1 style="text-align: center;">Edit <%= project.name %></h1>
              <form action="/projects/<%= project._id %>/?_method=PUT" method="post">
                <div class="form-group">
                  <input class="form-control" type="text" value="<%= project.title %>" name="project[title]">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" value="<%= project.image %>" name="project[image]">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" value="<%= project.link %>" name="project[link]">
                </div>
                <div class="form-group">
                  <textarea  class="form-control" rows="8" cols="80" value="<%= project.description %>" name="project[text]"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
              </form>
              <a href="/projects">Go Back</a>
            </div>
          </div>

<% include ../partials/footer %>
